* html {
    font-size: 16px;
}

#intro {
  padding-bottom: 20px;
}

#tabs {
    display: block;
    padding-bottom: 20px;
    border-bottom: 2px dashed #666;
    margin-bottom: 20px;
}

#tabs > button {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 10px;
}

#formats > div {
    display: none;
}

#formats > div:first-child {
    display: block;
}

#formats .render {
  border: 1px solid #999;
  position: relative;
}

/* Based on https://usefulangle.com/post/90/javascript-pdfjs-enable-text-layer */
#pdfjs > .render > .text {
   position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.5;
    line-height: 1.0;
}
#pdfjs > .render > .text > span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}